@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: #CF2E41;
    --black-color : #222;
    --white-color : #fff;
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */
.inner{ width:1200px; margin:0 auto; }
@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 10px; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */

/* 스크롤 커스텀 */
/* html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;} */

/* 드래그 블록 커스텀 */
/* ::selection { background-color:var(--main-color); color:#fff; } */


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight: 500; font-size: 16px; letter-spacing: -0.04em; transition: font-size 250ms; }
section{ display:block; }
a{ color:inherit; }
p { word-break: keep-all; font-weight: 500; }
b { font-weight: 700; }
.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }
button:active { border-style: none; transform: none; box-shadow: none; box-sizing: ; }
button:focus-visible { outline: none; border: none; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }


/* common */
.dx { font-family: 'Elice DX Neolli'; }
.pk_title_box { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 8px; }
.pk_title_box .text_1 { font-size: 20px; letter-spacing: -0.4px; }
.pk_title_box .text_2 { font-size: 46px; font-weight: 300; font-family: 'Elice DX Neolli'; }
.pk_title_box .text_3 { font-size: 20px; font-weight: 400; text-align: center; }
.moBr { display: none; }
.moBr2 { display: none; }
.moBr3 { display: none; }

section.sec1 .under { background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 35%, transparent 35%); padding: 0 5px; }

@media screen and (max-width: 1250px) {
    .pk_title_box .text_1 { font-size: 18px; }
    .pk_title_box .text_2 { font-size: 36px; }
    .pk_title_box .text_3 { font-size: 16px; }
    .moBr3 { display: block; }
}
@media screen and (max-width: 720px) {
    .moBr { display: block; }
    .pk_title_box .text_2 { text-align: center; }
}
@media screen and (max-width: 650px) {
    .pk_title_box .text_1 { font-size: 16px; }
    .pk_title_box .text_2 { font-size: 26px; }
    .pk_title_box .text_3 { font-size: 14px; }
}
@media screen and (max-width: 480px) {
    .pk_title_box .text_1 { font-size: 14px; }
        .pk_title_box .text_2 { font-size: 6.5vw; }
        .moBr2 { display: block; }
    /* .pk_title_box .text_2 { font-size: 20px; } */
}


/* @ header @ */
header { width: 100%; padding: 15px 0; position: fixed; top: 0; left: 0; z-index: 101; border-bottom: 1px solid rgba(255, 255, 255, 0.2); transition: background 300ms; }
header .inner {  display: flex; align-items: center; justify-content: space-between; }
header .logo {  }
header .logo.logo_navy { display: none; }
header nav {  }
header nav ul { display: flex; align-items: center;  gap: 70px; }
header nav ul li { font-size: 18px; color: var(--white-color); font-weight: 700; }
header nav ul li.list5 {  padding: 2px; border-radius: 100px; background: linear-gradient(90deg, #A3C5F5 0%, #4B95FE 100%);}
header nav ul li.list5 .call_box { width: 188px; padding: 7px 0; display: flex; align-items: center; justify-content: center; gap: 7px; background: #001431; border-radius: 100px; }
header nav ul li.list5 .call_box .call_icon {  }
header nav ul li.list5 .call_box .text_1 { font-size: 20px; font-weight: 700; }
/* @ header.on @ */
header.on { background: #fff; }
header.on .logo.logo_navy { display: block; }
header.on .logo.logo_wh { display: none; }
header.on nav ul li { color: var(--black-color); }
header.on nav ul li.list5 .call_box { color: var(--white-color); }

@media screen and (max-width: 1250px) {
    header .logo { width: 150px; }
    header nav ul { gap: 15px; }
    header nav ul li { font-size: 16px; }
    header nav ul li.list5 .call_box .text_1 { font-size: 16px; }
    header nav ul li.list5 .call_box { width: 150px; }
}
@media screen and (max-width: 720px) {
    header { padding: 10px 0; }
    header.on { padding: 5px 0; }
    header.on .logo.logo_wh { display: none; }
    header.on .logo.logo.logo_navy { display: none; }
    header.on .inner { gap: unset; }
    header.on nav ul li.list5 .call_box { padding: 5px 0; }
    header .inner { flex-direction: column; gap: 10px; }
    header nav ul { gap: 40px; }
    header .logo { width: 120px; }
}
@media screen and (max-width: 650px) {
    header nav ul { gap: 20px; }
}
@media screen and (max-width: 500px) {
    header .logo { width: 80px; }
    header nav ul li { font-size: 14px; }
    header nav ul li.list5 .call_box .text_1 { font-size: 14px; }
    header nav ul li.list5 .call_box { width: 130px; gap: 3px; }
    header nav ul li.list5 .call_box .call_icon { width: 12px; }
}
@media screen and (max-width: 480px) {
    header .inner { gap: 10px; }
    header nav { width: 100%; }
    header nav ul { justify-content: center; gap: 8vw; }
    header nav ul li.list5 .call_box .text_1 { font-size: 12px; }
    header nav ul li.list5 .call_box { width: 110px; }
    header nav ul li.list5 { display: none; }
}

/* side_menu */
.side_menu { position: fixed; z-index: 101; right: 100px; bottom: 80px; transition: all 200ms; }
.side_menu.hide { opacity: 0; }
.side_menu ul { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 10px; }
.side_menu ul li { width: 78px; aspect-ratio: 1; background-color: #001431; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2.5px solid #2E3849; }
.side_menu ul li.list_1.dn { display: none; }
.side_menu ul li .item { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 3px; cursor: pointer; }
.side_menu ul li .s_icon { width: 24px; }
.side_menu ul li .arrow { width: 15px; }
.side_menu ul li .text_1 { font-size: 12px; color: #fff; }

.side_menu ul li .open_icon { display: none; }
.side_menu ul li .close_icon { display: block; }

@media screen and (max-width: 1250px) {
    .side_menu { right: 50px; bottom: 50px; }
}
@media screen and (max-width: 720px) {
    .side_menu { right: 20px; bottom: 50px; }
    .side_menu ul li { width: 54px; }
    .side_menu ul li .text_1 { display: none; }
    .side_menu ul li .arrow { display: none; }

    .side_menu ul li .open_icon { width: 24px; }
    .side_menu ul li .close_icon { width: 24px; }

}

/* @ main @ */
/* sec1 */
section.sec1 { padding-top: ; min-height: 100vh; background: url('../img/main/PK_1/sec1/sec1_bg.jpg') no-repeat center / cover; }
section.sec1 .inner { display: flex; justify-content: center; align-items: center; }
section.sec1 .sec1_div { padding: 150px 0 20px; color: var(--white-color); text-align: center; }
section.sec1 .sec1_div .text_1 { font-size: 30px; font-weight: 300; }
section.sec1 .sec1_div .text_2 { font-size: 48px; margin: 20px 0 40px; line-height: 1.5; font-weight: 300; }
section.sec1 .sec1_div .text_3 { width: fit-content; margin: 0 auto; padding: 10px 25px; border: 1px solid var(--white-color); font-size: 18px; }
section.sec1 .sec1_div .text_3 .sky {  color: #A3C5F5; font-weight: 700; }
section.sec1 .sec1_div .home_btn { border: none; margin: 100px auto; width: 240px; padding: 15px 0; font-size: 16px; color: #001431; font-weight: 700; background: var(--white-color); border-radius: 100px; display: flex; align-items: center; justify-content: center; gap: 5px; }

section.sec1 .sec1_div .scroll_div { display: flex; align-items: center; justify-content: center;  flex-direction: column; }
section.sec1 .sec1_div .scroll_div .mouse {  }
section.sec1 .sec1_div .scroll_div .scroll_box { margin: 10px 0 15px; display: flex;flex-direction: column; align-items: center; }
section.sec1 .sec1_div .scroll_div .scroll {  }
section.sec1 .sec1_div .scroll_div .scroll_text {  }

@media screen and (max-width: 1250px) {
    section.sec1 .sec1_div .home_btn { margin: 50px auto 80px; }
}

/* === PK_1 ==== */


@media screen and (max-width: 1000px) {
    section.sec1 { display: flex; }
    section.sec1 .sec1_div { padding: 100px 0 20px; }
    section.sec1 .sec1_div .text_1 { font-size: 24px; }
    section.sec1 .sec1_div .text_2 { font-size: 42px; }
    /* section.sec1 .sec1_div .home_btn { margin: 50px auto 80px; } */
}

@media screen and (max-width: 720px) {
    section.sec1 .sec1_div .text_1 { font-size: 20px; }
    section.sec1 .sec1_div .text_2 { font-size: 32px; }
}
@media screen and (max-width: 600px) {
    section.sec1 .sec1_div .text_2 { line-height: 1.5; }
    section.sec1 .sec1_div .home_btn { margin: 30px auto 60px; }
}
@media screen and (max-width: 480px) {
    section.sec1 .sec1_div {  }
    section.sec1 .sec1_div .text_1 { font-size: 4.5vw; }
    section.sec1 .sec1_div .text_2 { font-size: 6vw; }
    section.sec1 .sec1_div .text_3 { width: ; font-size: 14px; }
    section.sec1 .sec1_div .home_btn { width: 200px; font-size: 14px; gap: 5px; }
    section.sec1 .sec1_div .home_btn .pk_icon { width: 24px; }
    
    
}

/* sec2 */
section.sec2 { padding: 100px 0; background: url('../img/main/PK_1/sec2/bg.jpg') no-repeat center / cover; color: var(--white-color); }
section.sec2 .sec2_div { margin-top: 30px; display: flex; align-items: center; justify-content: center; gap: 50px; }
section.sec2 .sec2_div .sec2_img {  }
section.sec2 .sec2_div .text_box { display: flex; flex-direction: column; gap: 30px;  }
section.sec2 .sec2_div .text_box .w_line { width: 120px; height: 2px; background-color: var(--white-color); }
section.sec2 .sec2_div .text_box .text_1 { font-size: 20px;}
section.sec2 .sec2_div .text_box b { font-size: 24px; }

@media screen and (max-width: 1250px) {
    section.sec2 .sec2_div .text_box .w_line { width: 100px; }
    section.sec2 .sec2_div .sec2_img { max-width: 400px; width: 100%; }
    section.sec2 .sec2_div .text_box .text_1 { font-size: 18px; }
    section.sec2 .sec2_div .text_box { gap: 20px; }
    section.sec2 .sec2_div .text_box b { font-size: 20px; }
}
@media screen and (max-width: 1000px) {
    section.sec2 .sec2_div .text_box .w_line { margin: 0 auto; }
    section.sec2 .sec2_div { flex-direction: column; }
    section.sec2 .sec2_div .text_box { text-align: center; }
}

@media screen and (max-width: 720px) {
    section.sec2 { padding: 13vw 0; }
}

@media screen and (max-width: 600px) {
    section.sec2 .sec2_div .sec2_img { max-width: 300px; }
    section.sec2 .sec2_div .text_box .text_1 br { display: none; }
}
@media screen and (max-width: 480px) {
    section.sec2 .sec2_div .text_box .text_1 { font-size: 16px; }
    section.sec2 .sec2_div .text_box b { font-size: 5vw; }
}

/* sec3 */
section.sec3 { padding: 100px 0; background: url('../img/main/PK_1/sec3/bg.jpg') no-repeat center / cover; color: var(--white-color); }
section.sec3 ul { width: calc(100% + 20px); margin-left: -10px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; margin-top: 30px; }
section.sec3 ul li { width: calc(100%/6); padding: 10px; }
section.sec3 ul li .imgBox {  }
section.sec3 ul li .imgBox .sec3_img { max-width: 100%; width: 100%; }
section.sec3 .text_1 { color: #A3C5F5; }
section.sec3 .text_4 { width: fit-content; margin: 0 auto; padding: 13px 60px; font-size: 26px; font-weight: 300; text-align: center; margin-top: 30px; background-color: #122F58; border-radius: 10px; }
section.sec3 .text_4 b { color: #A3C5F5; }

@media screen and (max-width: 1250px) {
    section.sec3 .text_4 { font-size: 22px; }
}
@media screen and (max-width: 1050px) {
    section.sec3 ul li { width: calc(100%/4); }
}
@media screen and (max-width: 650px) {
    section.sec3 { padding: 13vw 0; }
    section.sec3 ul li { width: calc(100%/3); }
    section.sec3 .text_4 { padding: 10px 20px; font-size: 16px; }
}
@media screen and (max-width: 480px) {
    section.sec3 .text_4 { width: 100%; }
    section.sec3 .text_4 br { display: none; }
    section.sec3 ul li { width: calc(100%/2); }
}

/* sec4 */
section.sec4 { padding: 100px 0; background: url('../img/main/PK_1/sec4/bg.jpg') no-repeat center / cover; color: #001431; }
section.sec4 .pk_title_box { align-items: flex-start; }
section.sec4 .pk_title_box .text_1 { color: #00164B; }
section.sec4 .pk_title_box .text_2 { color: #001431; }
section.sec4 .pk_title_box .text_3 { color: #222; text-align: left; }
section.sec4 ul { width: calc(100% + 20px); margin-left: -10px; margin-top: 30px; display: flex; flex-wrap: wrap; }
section.sec4 ul li { padding: 10px; width: calc(100%/4);  }
section.sec4 ul li .item { height: 100%;  background-color: var(--white-color); border-radius: 14px; box-shadow: 3px 10px 10px 0px rgba(0, 0, 0, 0.10); }
section.sec4 ul li .item .imgBox {  }
section.sec4 ul li .item .textBox { padding: 20px; }
section.sec4 ul li .item .imgBox .sec4_img { width: 100%; }
section.sec4 ul li .item .text_1 { padding: 10px 0; font-size: 28px; font-weight: 600; color: var(--white-color); background-color: #001431; text-align: center; border-radius: 4px; }
section.sec4 ul li .item .text_2 { font-size: 18px; text-align: center; margin-top: 15px; font-weight: 300; color: #4c4c4c; }

@media screen and (max-width: 1250px) {
    section.sec4 ul li .item .text_1 { font-size: 20px; }
    section.sec4 ul li .item .text_2 { font-size: 16px; }
    section.sec4 ul li .item .imgBox .sec4_img { height: 200px; }
}
@media screen and (max-width: 1000px) {
    section.sec4 .pk_title_box { align-items: center; }
    .pk_title_box .text_3 br { display: none; }
    section.sec4 ul { max-width: 800px; width: 100%; margin: 20px auto 0; }
    section.sec4 ul li { width: calc(100%/2); }
    section.sec4 ul li .item .imgBox .sec4_img { height: 30vw; }
}
@media screen and (max-width: 650px) {
    section.sec4 { padding: 13vw 0; }
    section.sec4 ul li .item .text_1 { font-size: 18px; }
    section.sec4 ul li .item .text_2 { font-size: 16px; }
    section.sec4 ul li .item .text_2 br { display: none; }
}
@media screen and (max-width: 480px) {
    section.sec3 .text_4 { font-size: 14px; }
    section.sec4 ul li { width: calc(100%/1); }
    section.sec4 ul li .item .imgBox .sec4_img { height: 75vw; }
}


/* sec5 */
section.sec5 { padding: 100px 0; background: url('../img/main/PK_1/sec5/bg.jpg') no-repeat center / cover; color: var(--white-color); }
section.sec5 .pk_title_box { align-items: flex-start; }
section.sec5 .pk_title_box .text_1 { color: #A3C5F5; }
section.sec5 .sec5_div { display: flex; justify-content: space-between; margin-top: 40px; }
section.sec5 .sec5_div .map_div { max-width: 710px; width: 100%; height: 100%; border-radius: 10px; overflow: hidden; }
section.sec5 .sec5_div .map_div .map_box { height: 458px; }
section.sec5 .sec5_div .map_div .content1 { display: flex; }
section.sec5 .sec5_div .map_div .content1 .item1 { padding: 20px 30px; font-size: 24px; font-weight: 700; display: flex; align-items: center; justify-content: center; gap: 10px; background-color: #011839; }
section.sec5 .sec5_div .map_div .content1 .item2 { font-size: 22px; font-weight: 400; background-color: #EDF5FF; color: #222; flex-grow: 1; display: flex; align-items: center; justify-content: center; }

section.sec5 .sec5_div .info_div { border-radius: 10px; background-color: #fff; overflow: hidden; }
section.sec5 .sec5_div .info_div .imgBox {  }
section.sec5 .sec5_div .info_div .imgBox .sec5_img { width: 100%; height: 204px; }
section.sec5 .sec5_div .info_div .imgBox ul { padding: 0 20px; display: flex; flex-direction: column; }
section.sec5 .sec5_div .info_div .imgBox ul li { padding: 15px 0; }
section.sec5 .sec5_div .info_div .imgBox ul li.under { border-bottom: 2px solid #011839; }
section.sec5 .sec5_div .info_div .imgBox ul li .item { display: flex; align-items: center; gap: 25px; }
section.sec5 .sec5_div .info_div .imgBox ul li .item .iconBox { width: 102px; font-size: 20px; color: #011839; display: flex; align-items: center; gap: 10px; }
section.sec5 .sec5_div .info_div .imgBox ul li .item .text_1 { font-size: 20px; font-weight: 400; color: var(--black-color); }
section.sec5 .sec5_div .info_div button.pk_btn { padding: 15px 40px; margin: 10px auto 30px; background: #001431; border: none; border-radius: 300px; display: flex; justify-content: center; align-items: center; gap: 8px; }

@media screen and (max-width: 1250px) {
    section.sec5 .sec5_div {  justify-content: center; gap: 20px;  }
    section.sec5 .sec5_div .map_div { max-width: 770px; }
    section.sec5 .sec5_div .map_div .content1 .item1 { font-size: 20px; }
    section.sec5 .sec5_div .map_div .content1 .item1 .sec5_icon { width: 20px; }
    section.sec5 .sec5_div .map_div .content1 .item2 { font-size: 18px; }
    section.sec5 .sec5_div .map_div .map_box { height: 40vw; }

    section.sec5 .sec5_div .info_div .imgBox ul li .item .iconBox { width: 95px; font-size: 20px; }
    section.sec5 .sec5_div .info_div .imgBox ul li .item .text_1 { font-size: 16px; }
    section.sec5 .sec5_div .info_div .imgBox ul li .item { gap: 10px; }


}
@media screen and (max-width: 1150px) {
    section.sec5 .pk_title_box { align-items: center; }
    section.sec5 .sec5_div { max-width: 800px; width: 100%; flex-direction: column; margin: 30px auto 0; gap: 30px;  }
    section.sec5 .sec5_div .map_div { max-width: unset; }
    section.sec5 .sec5_div .map_div .map_box { height: 492px; }
    section.sec5 .sec5_div .info_div .imgBox .sec5_img { width: 100%; height: 380px; }
}
@media screen and (max-width: 850px) {
    section.sec5 .sec5_div .map_div .map_box { height: 55vw; }
    section.sec5 .sec5_div .info_div .imgBox .sec5_img { height: 43vw; }
}
@media screen and (max-width: 650px) {
    section.sec5 { padding: 13vw 0; }
    section.sec5 .sec5_div .map_div .content1 .item1 { padding: 10px 20px; font-size: 18px; }
    section.sec5 .sec5_div .map_div .content1 .item2 { font-size: 16px; }
    section.sec5 .sec5_div .info_div .imgBox ul li .item .iconBox { width: 80px; font-size: 16px; }
    section.sec5 .sec5_div .info_div .imgBox ul li .item .iconBox .sec5_icon { width: 24px; }
    section.sec5 .sec5_div .info_div button.pk_btn { padding: 15px 30px; font-size: 14px; }
    section.sec5 .sec5_div .info_div button.pk_btn .pk_icon { width: 24px; }
    
}
@media screen and (max-width: 480px) {
    section.sec5 .sec5_div .map_div .content1 .item1 { gap: 3px; padding: 10px; font-size: 4.2vw; }
    section.sec5 .sec5_div .map_div .content1 .item2 { font-size: 3.5vw; }
    section.sec5 .sec5_div .info_div .imgBox ul li .item .iconBox { width: 70px; font-size: 14px; gap: 5px; }
    section.sec5 .sec5_div .info_div .imgBox ul li .item .text_1 { font-size: 3.5vw; }
}


/* @ footer @ */
footer { padding: 40px 0 60px; background-color: var(--black-color); color: var(--white-color); font-weight: 400; }
footer .inner {  }
footer .footer_div {  }
footer .footer_div1 { display: flex; align-items: center; justify-content: space-between; }
footer .footer_div1 .tel_box { text-align: right; }
footer .footer_div1 .tel_box span { font-size: 18px; }
footer .footer_div1 .tel_box b { font-size: 32px; }
footer .footer_div1 .tel_box .text_1 { font-size: 14px; font-weight: 400; }
footer .footer_div2 { display: flex; align-items: flex-end; justify-content: space-between; margin-top: 10px; }
footer .footer_div2 ul { display: flex; flex-direction: column; gap: 5px; }
footer .footer_div2 ul li { font-size: 18px; }
footer .footer_div2 .copyright { font-size: 14px; font-weight: 400; opacity: .4; }

@media screen and (max-width: 1250px) {
    footer .footer_div1 .footer_logo { width: 150px; }
    footer .footer_div1 .tel_box span { font-size: 16px; }
    footer .footer_div1 .tel_box b { font-size: 24px; }
    footer .footer_div1 .tel_box .text_1 { font-size: 12px; }
    footer .footer_div2 ul li { font-size: 16px; }
    footer .footer_div2 .copyright { font-size: 12px; }
}
@media screen and (max-width: 650px) {
    footer .footer_div1 { flex-direction: column; align-items: flex-start; gap: 10px; }
    footer .footer_div1 .tel_box { display: flex; align-items: center; gap: 10px; }
    footer .footer_div2 { flex-direction: column; align-items: flex-start; gap: 30px; }
}
@media screen and (max-width: 480px) {
    footer .footer_div1 .footer_logo { width: 120px; }
    footer .footer_div1 .tel_box span { font-size: 14px; }
    footer .footer_div1 .tel_box b { font-size: 20px; }
    footer .footer_div1 .tel_box .text_1 { font-size: 12px; }
    footer .footer_div2 ul li { font-size: 14px; }

}



/* === PK 헤더 테두리 ==== */
.PK_2 header nav ul li.list5 {  padding: 2px; border-radius: 100px; background: linear-gradient(90deg, #029EB5 0%, #4391FF 100%);}

.PK_3 header nav ul li.list5 { background: none; }
.PK_3 header nav ul li.list5 .call_box {  padding: 7px; background: linear-gradient(90deg, #7161A6 0%, #4462C5 100%); }

.PK_4 header nav ul li.list5 { background: none; }
.PK_4 header nav ul li.list5 .call_box {  padding: 7px; background: linear-gradient(90deg, #446158 0%, #1C312A 100%); }

.PK_5 header nav ul li.list5 { background: none; }
.PK_5 header nav ul li.list5 .call_box {  padding: 7px; background: #006CA9; }

.PK_6 header nav ul li.list5 { background: none; }
.PK_6 header nav ul li.list5 .call_box {  padding: 7px; background: #DF3232; }

.PK_7 header nav ul li.list5 { background: none; }
.PK_7 header nav ul li.list5 .call_box {  padding: 7px; background: #222222; }

.PK_8 header nav ul li.list5 { background: none; }
.PK_8 header nav ul li.list5 .call_box {  padding: 7px; background: #1976DE; }

/* === PK 섹션 배경 ==== */
.PK_2 section.sec1 { background: url('../img/main/PK_2/sec1/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_2 section.sec2 { background: url('../img/main/PK_2/sec2/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_2 section.sec3 { background: url('../img/main/PK_2/sec3/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_2 section.sec4 { background: url('../img/main/PK_2/sec4/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_2 section.sec5 { background: url('../img/main/PK_2/sec5/bg.jpg') no-repeat center / cover; color: var(--white-color); }

.PK_3 section.sec1 { background: url('../img/main/PK_3/sec1/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_3 section.sec2 { background: url('../img/main/PK_3/sec2/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_3 section.sec3 { background: url('../img/main/PK_3/sec3/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_3 section.sec4 { background: url('../img/main/PK_3/sec4/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_3 section.sec5 { background: url('../img/main/PK_3/sec5/bg.jpg') no-repeat center / cover; color: var(--white-color); }

.PK_4 section.sec1 { background: url('../img/main/PK_4/sec1/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_4 section.sec2 { background: url('../img/main/PK_4/sec2/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_4 section.sec3 { background: url('../img/main/PK_4/sec3/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_4 section.sec4 { background: url('../img/main/PK_4/sec4/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_4 section.sec5 { background: url('../img/main/PK_4/sec5/bg.jpg') no-repeat center / cover; color: var(--white-color); }

.PK_5 section.sec1 { background: url('../img/main/PK_5/sec1/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_5 section.sec2 { background: url('../img/main/PK_5/sec2/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_5 section.sec3 { background: url('../img/main/PK_5/sec3/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_5 section.sec4 { background: url('../img/main/PK_5/sec4/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_5 section.sec5 { background: url('../img/main/PK_5/sec5/bg.jpg') no-repeat center / cover; color: var(--white-color); }

.PK_6 section.sec1 { background: url('../img/main/PK_6/sec1/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_6 section.sec2 { background: url('../img/main/PK_6/sec2/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_6 section.sec3 { background: url('../img/main/PK_6/sec3/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_6 section.sec4 { background: url('../img/main/PK_6/sec4/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_6 section.sec5 { background: url('../img/main/PK_6/sec5/bg.jpg') no-repeat center / cover; color: var(--white-color); }

.PK_7 section.sec1 { background: url('../img/main/PK_7/sec1/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_7 section.sec2 { background: url('../img/main/PK_7/sec2/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_7 section.sec3 { background: url('../img/main/PK_7/sec4/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_7 section.sec4 { background: url('../img/main/PK_7/sec3/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_7 section.sec5 { background: url('../img/main/PK_7/sec5/bg.jpg') no-repeat center / cover; color: var(--white-color); }

.PK_8 section.sec1 { background: url('../img/main/PK_8/sec1/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_8 section.sec2 { background: url('../img/main/PK_8/sec2/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_8 section.sec3 { background: url('../img/main/PK_8/sec3/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_8 section.sec4 { background: url('../img/main/PK_8/sec4/bg.jpg') no-repeat center / cover; color: var(--white-color); }
.PK_8 section.sec5 { background: url('../img/main/PK_8/sec5/bg.jpg') no-repeat center / cover; color: var(--white-color); }


/* === PK 사이드 메뉴 색상 ==== */
.PK_2 .side_menu ul li { background-color: #0D4C78; }
.PK_3 .side_menu ul li { background-color: #9374B3; }
.PK_4 .side_menu ul li { background-color: #446158; }
.PK_5 .side_menu ul li { background-color: #006CA9; }
.PK_6 .side_menu ul li { background-color: #640111; }
/* .PK_7 .side_menu ul li { background-color: #1976DE; } */
.PK_8 .side_menu ul li { background-color: #1976DE; }

/* === PK_2 ==== */ 
.side_menu ul li  { border: 2.5px solid rgba(255, 255, 255, 0.1); }

.PK_2 section.sec1.on .sec1_div .text_3 { background-color: #2A2A2A; }
.PK_2 section.sec1 .sec1_div .text_3 .sky { color: #029EB5; }

.PK_2 section.sec2 ul.sec2_ul { width: calc(45% + 10px); margin-left: -5px; display: flex; flex-wrap: wrap; }
.PK_2 section.sec2 ul.sec2_ul li { width: 100%; padding: 5px; }
.PK_2 section.sec2 ul.sec2_ul li.half { width: calc(100% / 2); }
.PK_2 section.sec2 ul.sec2_ul li .item { padding: 50px 0; background-color: #484641; display: flex; justify-content: center; align-items: center; gap: 20px; border-radius: 10px; }
.PK_2 section.sec2 ul.sec2_ul li.half .item { flex-direction: column; text-align: center; }
.PK_2 section.sec2 ul.sec2_ul li .item .box {  }
.PK_2 section.sec2 ul.sec2_ul li .item .box .text_1 { font-size: 20px; color: #029EB5; margin-bottom: 5px; }
.PK_2 section.sec2 ul.sec2_ul li .item .box .text_2 { font-size: 16px; color: #ffffff; }

.PK_2 section.sec3 .text_1 { color: #029EB5; }
.PK_2 section.sec3 .text_4 { background-color: #2A2A2A; }
.PK_2 section.sec3 .text_4 b { color: #029EB5; }

.PK_2 section.sec4 .pk_title_box .text_1 { color: #029EB5; }
.PK_2 section.sec4 .pk_title_box .text_2 { color: #fff; }
.PK_2 section.sec4 .pk_title_box .text_3 { color: #fff; }
.PK_2 section.sec4 ul li .item .text_1 { background-color: #484641; }

.PK_2 section.sec5 .pk_title_box .text_1 { color: #029EB5; }
.PK_2 section.sec5 .sec5_div .map_div .content1 .item1 { background-color: #2A2A2A; }
.PK_2 section.sec5 .sec5_div .info_div button.pk_btn { background: #2A2A2A; }
.PK_2 section.sec5 .sec5_div .info_div .imgBox ul li.under { border-bottom: 2px solid #2A2A2A; }
.PK_2 section.sec5 .sec5_div .info_div .imgBox ul li .item .iconBox { color: #2A2A2A; }

@media screen and (max-width: 1000px) {
    .PK_2 section.sec2 ul.sec2_ul { width: calc(100% + 10px); }
    .PK_2 section.sec2 ul.sec2_ul li { width: calc(100%/3); }
    .PK_2 section.sec2 ul.sec2_ul li.half { width: calc(100%/3); }
    .PK_2 section.sec2 ul.sec2_ul li .item { padding: 30px 10px; flex-direction: column; text-align: center; }
    .PK_2 header nav ul { gap: 20px; } 

}
@media screen and (max-width: 720px) {
    .PK_2 section.sec2 ul.sec2_ul li .item { height: 100%; gap: 10px; }
    .PK_2 section.sec2 ul.sec2_ul li .item .sec2_img1 { width: 80px; }
    
}
@media screen and (max-width: 650px) {
    .PK_2 section.sec2 ul.sec2_ul { max-width: 500px; flex-direction: column; margin-left: 0;  margin: 0 auto;}
    .PK_2 section.sec2 ul.sec2_ul li { width: 100%; }
    .PK_2 section.sec2 ul.sec2_ul li.half { width: 100%; }
    .PK_2 section.sec2 ul.sec2_ul li .item { flex-direction: ; }
    .PK_2 section.sec2 ul.sec2_ul li.half .item { flex-direction: ; }
    .PK_2 header nav ul { gap: 15px; }  
    .PK_2 header nav ul li { font-size: 14px; }  
    
}
@media screen and (max-width: 500px) {
    .PK_2 section.sec2 ul.sec2_ul { max-width: 400px;}
    .PK_2 section.sec2 ul.sec2_ul li .item .box .text_1 { font-size: 18px; }
    .PK_2 section.sec2 ul.sec2_ul li .item .box .text_2 br { display: none; }
    
}

/* === PK_3 ==== */ 
.PK_3 section.sec1 .sec1_div .text_3 .sky { color: #7DAEFF; }
.PK_3 section.sec1 .sec1_div .home_btn { color: #fff; border: none; background: linear-gradient(to right, #7161A6, #4462C5); box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.25); }

.PK_3 section.sec3 .text_1 { color: #fff; }
.PK_3 section.sec3 .text_4 { background: #252525; }
.PK_3 section.sec3 .text_4 b { color: #9374B3; }

.PK_3 section.sec4 .pk_title_box .text_1 { color: #252525; }
.PK_3 section.sec4 .pk_title_box .text_2 { color: #252525; }
.PK_3 section.sec4 ul li .item .text_1 { background-color: #484641; }

.PK_3 section.sec5 .pk_title_box .text_1 { color: #fff; }
.PK_3 section.sec5 .sec5_div .map_div .content1 .item1 { background: #252525; }

/* === PK_4 ==== */ 
.PK_4 section.sec1 .sec1_div .text_3 { background: #1C312A; }
.PK_4 section.sec1 .sec1_div .text_3 .sky { color: #B99D87; }
.PK_4 section.sec1 .sec1_div .home_btn { color: #fff; border: none; background: linear-gradient(to right, #446158, #1C312A); box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.25); }
.PK_4 section.sec3 .text_1 { color: #B99D87; }
.PK_4 section.sec3 .text_4 { background-color: #252525;}
.PK_4 section.sec3 .text_4 b { color: #B99D87;}
.PK_4 section.sec4 .pk_title_box .text_1 { color: #B99D87; }
.PK_4 section.sec4 .pk_title_box .text_2 { color: #fff; }
.PK_4 section.sec4 .pk_title_box .text_3 { color: #fff; }
.PK_4 section.sec4 ul li .item .text_1 { background-color: #484641; }
.PK_4 section.sec5 .pk_title_box .text_1 { color: #B99D87; }
.PK_4 section.sec5 .sec5_div .map_div .content1 .item1 { background-color: #415D54; }
.PK_4 section.sec5 .sec5_div .info_div button.pk_btn { background-color: #415D54; }
.PK_4 section.sec5 .sec5_div .info_div .imgBox ul li .item .iconBox { color: #415D54; }

/* === PK_5 ==== */ 
.PK_5 section.sec1.on .sec1_div .text_3 { background-color: #212121; }
.PK_5 section.sec1 .sec1_div .text_3 .sky { color: #42A4DB; }
.PK_5 section.sec1.on .sec1_div .home_btn { border: none; box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.25); }
.PK_5 section.sec2.on .pk_title_box .text_2 { text-align: center; }
.PK_5 section.sec3 .text_4 { background-color: #005686; }
.PK_5 section.sec3 .text_4 b { color: #A3C5F5;}
.PK_5 section.sec4.on .pk_title_box .text_1 { color: #fff; }
.PK_5 section.sec4.on .pk_title_box .text_2 { color: #fff; }
.PK_5 section.sec5 .sec5_div .map_div .content1 .item1 { background-color: #006CA9; }
.PK_5 section.sec5 .sec5_div .info_div button.pk_btn { background-color: #006CA9; }
.PK_5 section.sec5 .sec5_div .info_div .imgBox ul li .item .iconBox { color: #006CA9; }

/* 7/21 */
.PK_5 section.sec2 .sec2_div { gap: unset; align-items: unset; justify-content: space-between; }
.PK_5 section.sec2 .text_box { height: 100%; }
.PK_5 section.sec2 ul.sec2_content1 { width: 680px; display: flex; flex-direction: column; justify-content: space-between; }
.PK_5 section.sec2 ul.sec2_content1 li {  padding: 30px; background-color: #034163; border-radius: 10px; background: #034163 url('../img/main/PK_5/sec2/sec2_img2.png') no-repeat right 60px center / 116px; }
.PK_5 section.sec2 ul.sec2_content1 li .item {  }
.PK_5 section.sec2 ul.sec2_content1 li .item .name { font-size: 24px; margin: 15px 0; }
.PK_5 section.sec2 ul.sec2_content1 li .item .name_text { font-size: 18px; }
.PK_5 section.sec2 ul.sec2_content1 li .item .content1_text { font-size: 18px; line-height: 1.6; }

.PK_5 section.sec2 ul.sec2_content2 { width: calc(100% + 10px); margin-left: -5px; display: flex; flex-wrap: wrap;   margin-top: 20px;}
.PK_5 section.sec2 ul.sec2_content2 li {  padding: 5px; width: calc(100%/3); }
.PK_5 section.sec2 ul.sec2_content2 li .item { padding: 10px; height: 100%; background-color: #197AB1; display: flex; justify-content: center; align-items: center; border-radius: 10px; }
.PK_5 section.sec2 ul.sec2_content2 li .item .content2_text { font-size: 24px; text-align: center; font-weight: 700; }

.PK_5 section.sec4 .sec4_div { position: relative; padding: 45px; background: linear-gradient(107deg, #FFF 10%, #D2E5F0 90%); display: flex; flex-direction: column; gap: 30px; border-radius: 10px; margin-top: 20px; }
.PK_5 section.sec4 .sec4_div .sec4_content {  padding-bottom: 20px; border-bottom: 1px solid #E4E4E4; }
.PK_5 section.sec4 .sec4_div .sec4_content .sec4_bg { position: absolute; bottom: 70px; right: 70px; }
.PK_5 section.sec4 .sec4_div .sec4_content .content_title { font-size: 24px; color: #011839; margin-bottom: 15px; }
.PK_5 section.sec4 .sec4_div .sec4_content .content_text { font-size: 24px; color: #7F7F7F; line-height: 1.5; }
.PK_5 section.sec4 .sec4_div .sec4_content .dark_blue { color: #006CA9; }
.PK_5 section.sec4 .sec4_div .sec4_content .dark_blue2 { color: #006CA9; font-weight: 700; }
.PK_5 section.sec4 .sec4_div .sec4_content.sec4_content3 { border-bottom: none; }

/* === PK_6 ==== */ 
.PK_6 section.sec1 .sec1_div .text_3 { background-color: #212121; }
.PK_6 section.sec1 .sec1_div .text_3 .sky { color: #F14C4C; }
.PK_6 section.sec2 .sec2_div .text_box b { font-size: 22px; }
.PK_6 section.sec3 .text_1 { color: #D63333; }
.PK_6 section.sec3 .text_4 { padding: 13px 200px; background-color: #151515; color: #fff; }
.PK_6 section.sec3 .text_4 b {  color: #fff; }
.PK_6 section.sec4 .pk_title_box .text_1 { color: #DF3232; }
.PK_6 section.sec4 .pk_title_box .text_2 { color: #151515; }
.PK_6 section.sec4 .pk_title_box .text_3 { color: #151515; }
.PK_6 section.sec4 ul li .item .text_1 { font-size: 24px; }
.PK_6 section.sec5 .pk_title_box .text_1 { color: #fff; }
.PK_6 section.sec5 .sec5_div .map_div .content1 .item1 { background-color: #640111; }
.PK_6 section.sec5 .sec5_div .info_div button.pk_btn { background-color: #640111; }
.PK_6 section.sec5 .sec5_div .info_div .imgBox ul li .item .iconBox { color: #640111; }

.PK_6 section.sec3 ul li { width: calc(100%/3); }

@media screen and (max-width: 1250px) {
    
}


/* === PK_7 ==== */

/* === PK_7 사이드 메뉴 ==== */ 
/* .PK_7 .side_menu ul { all: unset; }
.PK_7 .side_menu ul li { all: unset; }

.PK_7 .side_menu .form_title { font-size: 18px; margin-bottom: 10px; text-align: center; color: #fff; }
.PK_7 .side_menu { padding: 15px 10px; background-color: #383838; }
.PK_7 .side_menu ul.formList  { display: flex; align-items: center; justify-content: center; flex-direction: column; color: #fff; gap: 10px; }
.PK_7 .side_menu ul.formList .label { font-size: 14px; }
.PK_7 .side_menu ul.formList .label span  { font-size: 12px; color: #fff; } */


/* side_menu2 */
.PK_7 .side_menu2 { max-width: 240px; width: 100%; position: fixed; z-index: 101; right: 45px; bottom: 80px; transition: all 200ms; color: #fff; }
.PK_7 .side_menu2.hide { opacity: 0; }
.PK_7 .side_menu2 ul.type2 { border-radius: 5px; padding: 15px 10px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 10px; background-color: #383838;}
.PK_7 .side_menu2 ul.type2 > li {  display: flex; align-items: center; justify-content: center;  border: 2.5px solid #2E3849; }
.PK_7 .side_menu2 ul.type2 > li.list_1 { flex-direction: column; }
.PK_7 .side_menu2 ul.type2 > li.list_1.hide { display: none; }
.PK_7 .side_menu2 ul.type2 > li .item { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 3px; cursor: pointer; }
.PK_7 .side_menu2 ul.type2 > li .s_icon { width: 24px; }
.PK_7 .side_menu2 ul.type2 > li .arrow { width: 15px; }
.PK_7 .side_menu2 ul.type2 > li .text_1 { font-size: 12px; color: #fff; }
.PK_7 .side_menu2 ul.type2 > li .open_icon { display: none; }
.PK_7 .side_menu2 ul.type2 > li .close_icon { display: block; }

.PK_7 .side_menu2 .formList > li { padding: 5px; }
.PK_7 .side_menu2 .formList .label { font-size: 14px; }
.PK_7 .side_menu2 .formList .label span { font-size: 12px; color: #fff; }
.PK_7 .side_menu2 .agreeCheckDiv { font-size: 12px; color: #fff; margin-top: 0; }
.PK_7 .side_menu2 .agreeCheckDiv .smallText { font-size: 10px;}
.PK_7 .side_menu2 .ipt { padding: 5px; }
.PK_7 .side_menu2 .ipt::placeholder { font-size: 12px; }
.PK_7 .side_menu2 textarea.ipt { height: 100px; }
.PK_7 .side_menu2 .side_btn2 { margin: 10px 0; width: 144px; padding: 8px 0; background: #B99D87; border-radius: 100px; border: none; }
.PK_7 .side_menu2 .side_btn2:active { outline: none; border: none; }

.PK_7 .side_menu2.on  { max-width: 70px;  }
.PK_7 .side_menu2.on ul.type2 > li .close_icon { width: 20px; text-align: left; }
@media screen and (max-width: 1250px) {
    .PK_7 .side_menu2 { right: ; bottom: ; }
}
@media screen and (max-width: 720px) {
    .PK_7 .side_menu2 { right: 20px; bottom: ; }
    .PK_7 .side_menu2 ul.type2 > li { width: ; }

}

/* === PK_7 사이드 메뉴 ==== */ 


.PK_7 header { background-color: #F5ECDD; }
.PK_7 header.on { box-shadow: 5px 9px 14px 0px rgba(0, 0, 0, 0.10); }
.PK_7 header nav ul li { color: #222; }
.PK_7 header nav ul li.list5 .call_box .text_1 { color: #fff; }

.PK_7 section.sec1 .sec1_div .text_3 .sky { color: #B99D87; }
.PK_7 section.sec1 .sec1_div .text_1 { color: #222; }
.PK_7 section.sec1 .sec1_div .text_2 { color: #222; }
.PK_7 section.sec1 .under { background: linear-gradient(to top, #E3D3B8 35%, transparent 35%); padding: 0 5px; }
.PK_7 section.sec2 .under { background: linear-gradient(to top, #E3D3B8 35%, transparent 35%); padding: 0 5px; }
.PK_7 section.sec1.on .sec1_div .text_3 { background-color: #222; }
.PK_7 section.sec1.on .sec1_div .home_btn { box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.25); }

.PK_7 section.sec2 { color: #222; }
.PK_7 section.sec2 .pk_title_box .text_2 { text-align: center; }
.PK_7 section.sec2 .pk_title_box .text_2 span { font-size: 36px; }

.PK_7 section.sec2 .sec2_stick { margin: 30px auto; max-width: 1040px; width: 100%; height: 2px; background-color: #D5C6AD; }
.PK_7 section.sec2 .sec2_div { }
.PK_7 section.sec2 .sec2_div .text_box { margin: 0; }
.PK_7 section.sec2 .sec2_div .text_1 { font-size: 22px; line-height: 150%;}
.PK_7 section.sec2 .sec2_div .text_2_box { display: flex; align-items: center; justify-content: center; text-align: center; gap: 50px; }
.PK_7 section.sec2 .sec2_div .text_2_box .text_2 { font-size: 22px; }
.PK_7 section.sec2 .sec2_div .text_2_box .text_2 b { font-size: 32px; }
.PK_7 section.sec2 .sec2_div .text_3_box { gap: 5vw; padding: 30px; background-color: #B99D87; color: #fff; display: flex; align-items: flex-start; justify-content: center; text-align: center; }
.PK_7 section.sec2 .sec2_div .text_3_box .text_3 { font-size: 18px; }
.PK_7 section.sec2 .sec2_div .text_3_box .text_3 .big { font-size: 32px; font-weight: 700; color: #222; }
.PK_7 section.sec2 .sec2_div .text_3_box .text_3 b { font-size: 18px; }

.PK_7 section.sec3 { color: #222; }
.PK_7 section.sec3 .text_1 { color: #222; }
.PK_7 section.sec3 .pk_title_box .text_1 { text-shadow: 3px 10px 11px rgba(0, 0, 0, 0.15); }
.PK_7 section.sec3 .pk_title_box .text_2 { font-size: 24px; font-family: 'Pretendard', sans-serif; }
.PK_7 section.sec3 .pk_title_box .text_3 { font-size: 36px; font-family: 'Elice DX Neolli'; font-weight: 300;  text-shadow: 3px 10px 11px rgba(0, 0, 0, 0.15);}
.PK_7 section.sec3 .pk_title_box .text_3 span { background: linear-gradient(to top, #F5ECDD 35%, transparent 35%); }

.PK_7 section.sec4 .pk_title_box { align-items: center; }
.PK_7 section.sec4 .pk_title_box .text_1 { color: #222; }
.PK_7 section.sec4 .pk_title_box .text_4 { font-size: 28px; font-weight: 300; color: #222; text-shadow: 3px 10px 11px rgba(0, 0, 0, 0.15); text-align: center; }
.PK_7 section.sec4 .pk_title_box .text_4 b { font-size: 46px; font-weight: 500; }

.PK_7 section.sec4 .pro_div { color: #222; }
.PK_7 section.sec4 .pro_div .sec4_img { max-width: 100%; }
.PK_7 section.sec4 .pro_div { display: flex; gap: 15px; margin-top: 30px; }
.PK_7 section.sec4 .pro_div .carrer_div { position: relative; width: ; padding: 50px; font-size: 18px;  background: linear-gradient(109deg, #FFF 0.94%, #D4CEC3 100%); border-radius: 4px; display: flex; flex-wrap: wrap; }
.PK_7 section.sec4 .pro_div .carrer_div .content_bg { position: absolute; bottom: 40px; right: 40px; }
.PK_7 section.sec4 .pro_div .carrer_div .list { opacity: 1;  }
.PK_7 section.sec4 .pro_div .carrer_div .list.list1 { width: 100%; display: flex; align-items: center; gap: 80px; padding-bottom: 20px; border-bottom: 1px solid #222; margin-bottom: 40px; }
.PK_7 section.sec4 .pro_div .carrer_div .list.list2 { width: calc(100%/2); }
.PK_7 section.sec4 .pro_div .carrer_div .list .box1 {  }
.PK_7 section.sec4 .pro_div .carrer_div .list .box1 .name {  }
.PK_7 section.sec4 .pro_div .carrer_div .list .box1 .name b { font-size: 32px; }
.PK_7 section.sec4 .pro_div .carrer_div .list .box1 .name_en { display: block; margin: 8px 0; }
.PK_7 section.sec4 .pro_div .carrer_div .list .box2 { position: relative; padding: 15px 0; width: 400px; background-color: #B99D87; color: #fff; display: flex;justify-content: center; text-align: center; border-radius: 5px;}
.PK_7 section.sec4 .pro_div .carrer_div .list .box2::before { position: absolute; bottom: 8%; left: -5%; content: url('../img/main/PK_7/sec4/triangle.png'); }
.PK_7 section.sec4 .pro_div .carrer_div .list .box2 > .text_1 { font-size: 26px; line-height: 150%; font-weight: 300; }
.PK_7 section.sec4 .pro_div .carrer_div .list .box2 > .text_1 b { font-weight: 500; }

.PK_7 section.sec4 .pro_div .carrer_div .list.list2 {  }
.PK_7 section.sec4 .pro_div .carrer_div .list.list2 .box1 { display: flex; flex-direction: column; gap: 5px; }
.PK_7 section.sec4 .pro_div .carrer_div .list.list2 .list_title { margin-bottom: 10px; }

.PK_7 section.sec5 .pk_title_box .text_1 { color: #F5ECDD; }
.PK_7 section.sec5 .pk_title_box .text_2 { color: #F5ECDD; }
.PK_7 section.sec5 .sec5_div .map_div .content1 .item1 { background-color: #B99D87; }
.PK_7 section.sec5 .sec5_div .info_div .imgBox ul li .item .iconBox { color: #B99D87; }
.PK_7 section.sec5 .sec5_div .map_div .content1 .item2 { background-color: #FEF4EB; }
.PK_7 section.sec5 .sec5_div .info_div .btn_box { padding: 20px 20px; display: flex; align-items: center; justify-content: space-between; gap: 5px; }
.PK_7 section.sec5 .sec5_div .info_div .btn_box button.pk_btn { width: 50%; padding: 5px 10px; color: #fff; background-color: #B99D87; margin: 0; text-align: left; }

@media screen and (max-width: 1250px) {
    .PK_7 section.sec2 .pk_title_box .text_2 span { font-size: 24px; }
    .PK_7 section.sec2 .sec2_div .text_2_box .text_2 { font-size: 20px; }
    .PK_7 section.sec2 .sec2_div .text_2_box .text_2 b { } 
    .PK_7 section.sec2 .sec2_div .text_2_box { gap: 30px; }
    .PK_7 section.sec2 .sec2_div .text_2_box .sec2_img1 { width: 24px; } 
    .PK_7 section.sec2 .sec2_div .text_3_box .text_3 { font-size: 16px; }
    .PK_7 section.sec2 .sec2_div .text_3_box .text_3 .big { font-size: 24px; }
    .PK_7 section.sec2 .sec2_div .text_3_box .sec2_img2 { width: 40px; } 

    .PK_7 section.sec4 .pk_title_box .text_4 { font-size: 24px; }
    .PK_7 section.sec4 .pk_title_box .text_4 b { font-size: 36px; }

    .PK_7 section.sec4 .pro_div .carrer_div .list .box1 .name b { font-size: 26px; }
    .PK_7 section.sec4 .pro_div .carrer_div .list .box2 { width: 300px; }
    .PK_7 section.sec4 .pro_div .carrer_div .list .box2 > .text_1 { font-size: 22px; }
    .PK_7 section.sec4 .pro_div .carrer_div .list.list1 { gap: 40px; }

    .PK_7 section.sec3 .pk_title_box .text_2 { font-size: 22px; }
    .PK_7 section.sec3 .pk_title_box .text_3 { font-size: 28px; }
    .PK_7 section.sec3 .pk_title_box .text_3 br { display: block; }

    .PK_7 section.sec5 .sec5_div .info_div .btn_box { flex-direction: column; }
    .PK_7 section.sec5 .sec5_div .info_div .btn_box button.pk_btn { padding: 15px 10px; width: 100%; }
    .PK_7 section.sec5 .sec5_div .info_div .btn_box button.pk_btn br { display: none;; }
} 
@media screen and (max-width: 1150px) {
    .PK_7 section.sec5 .sec5_div .info_div .btn_box { flex-direction: row; }
}
@media screen and (max-width: 1050px) {
    .PK_7 section.sec4 .pro_div .carrer_div { gap: 30px; }
    .PK_7 section.sec4 .pro_div .carrer_div .list.list1 { margin-bottom: 0; justify-content: ; }
    .PK_7 section.sec4 .pro_div .carrer_div .list.list2 { width: 40%; justify-content: center; }
    .PK_7 section.sec4 .pro_div{ max-width: 800px; width: 100%; margin: 20px auto 0; flex-direction: column; align-items: center;} 

}
@media screen and (max-width: 720px) {
    .PK_7 section.sec4 .pro_div .carrer_div { font-size: 16px; padding: 25px; }
    .PK_7 section.sec4 .pk_title_box .text_4 { font-size: 20px; }
    .PK_7 section.sec4 .pk_title_box .text_4 b { font-size: 26px; } 
    .PK_7 section.sec4 .pro_div .carrer_div .list .box1 .name b { font-size: 22px; }
    .PK_7 section.sec4 .pro_div .carrer_div .list .box2 > .text_1 { font-size: 20px; }
    .PK_7 section.sec4 .pro_div .carrer_div .list .box2 { max-width: 300px; width: 100%; }

    .PK_7 section.sec3 .pk_title_box .text_2 { font-size: 18px; }
    .PK_7 section.sec3 .pk_title_box .text_3 { font-size: 22px; } 

    .PK_7 .side_menu2.on { max-width: 50px; aspect-ratio: 1; }
    .PK_7 .side_menu2 ul.type2 > li .open_icon { width: 24px; }
    .PK_7 .side_menu2 ul.type2 { padding: 10px; }
}
@media screen and (max-width: 600px) {
    .PK_7 section.sec4 .pro_div { max-width: 400px; }
    .PK_7 section.sec4 .pro_div .sec4_img { max-width: 75%; }
    .PK_7 section.sec4 .pro_div .carrer_div .list.list1 { flex-direction: column; gap: 20px; }
    .PK_7 section.sec4 .pro_div .carrer_div .list .box1 { order: 2; text-align: center;}
    .PK_7 section.sec4 .pro_div .carrer_div .list .box2 { order: 1; text-align: center; }
    .PK_7 section.sec4 .pro_div .carrer_div .list .box2 br { display: ; }
    .PK_7 section.sec4 .pro_div .carrer_div .list .box2::before { display: none; }
    .PK_7 section.sec4 .pro_div .carrer_div .list.list2 { width: 100%; }
    .PK_7 section.sec4 .pro_div .carrer_div .list.list2 .list_title { text-align: center; }
    .PK_7 section.sec5 .sec5_div .info_div .btn_box { flex-direction: column; }
    .PK_7 section.sec5 .sec5_div .info_div .btn_box button.pk_btn { padding: 10px; }

}
@media screen and (max-width: 480px) {
    .PK_7 section.sec2 .sec2_div .text_1 { font-size: 16px; }
    .PK_7 section.sec2 .pk_title_box .text_2 span { font-size: 5vw; }
    .PK_7 section.sec2 .sec2_div .text_2_box .text_2 { font-size: 16px; }
    .PK_7 section.sec2 .sec2_div .text_2_box .text_2 b { font-size: 20px; }
    .PK_7 section.sec2 .sec2_div .text_3_box .text_3 .big { font-size: 20px; } 
    .PK_7 section.sec2 .sec2_div .text_3_box .sec2_img2 { width: 24px; } 
    .PK_7 section.sec2 .sec2_div .text_3_box { padding: 15px; }

    .PK_7 section.sec4 .pk_title_box .text_4 { font-size: 4.5vw; }
    .PK_7 section.sec4 .pk_title_box .text_4 b { font-size: 5.5vw; } 
    .PK_7 section.sec4 .pro_div .carrer_div .list .box1 .name b { font-size: 20px; }
    .PK_7 section.sec3 .pk_title_box .text_3 { font-size: 5vw; }
}

/* === PK_8 ==== */ 
.PK_8 section.sec1 .sec1_div .text_3 .sky { color: #FFEA71; }
.PK_8 section.sec1 .sec1_div .text_2 { font-size: 45px; }
.PK_8 section.sec1 .sec1_div .text_3 { background-color: #1976DE; border: none; }
.PK_8 section.sec2 .sec2_div .text_box b { font-size: 24px; }
.PK_8 section.sec2 .pk_title_box .text_2 { font-size: 32px; text-align: center; }
.PK_8 section.sec2 .pk_title_box .text_2 b { font-size: 46px; }
.PK_8 section.sec3 .pk_title_box .text_1 { color: #1976DE;  }
.PK_8 section.sec3 .pk_title_box .text_2 { color: #222; }
.PK_8 section.sec3 .pk_title_box .text_3 { color: #222; }
.PK_8 section.sec3 .text_4 { background-color: #151515; }
.PK_8 section.sec4 .pk_title_box .text_1 { color: #1976DE; }
.PK_8 section.sec4 .pk_title_box .text_2 { color: #151515; }
.PK_8 section.sec4 ul li .item .text_1 { background-color: #000; }
.PK_8 section.sec5 .pk_title_box .text_1 { color: #fff; }
.PK_8 section.sec5 .sec5_div .info_div .imgBox ul li .item .iconBox { color: #1976DE; }
.PK_8 section.sec5 .sec5_div .map_div .content1 .item1 { background-color: #1976DE; }
.PK_8 section.sec5 .sec5_div .info_div button.pk_btn { background-color: #1976DE; }